.booking-list-container {
  display: flex;
  /*justify-content: center;*/  /* Centers the table horizontally */
  align-items: center;  /* Centers vertically if needed */
  flex-direction: column;  /* Keeps everything stacked */
  min-height: 100vh;  /* Ensures full-page centering */
  text-align: center;
  background: linear-gradient(135deg, #007bff 30%, #4CAF50 100%);
}

.hedd{
  text-align: center;
  color: #f9f8f8;
}
h3 {
  text-align: center;
}

.booking-table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.booking-table th, .booking-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.booking-table th {
  background-color: #4CAF50;
  color: white;
}

.booking-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.cancel-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-btn:hover {
  background-color: #cc0000;
}

.cancelled-text {
  color: red;
  font-weight: bold;
}
.security-code-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.security-code-btn:hover {
  background-color: #0056b3;
}

